* {
    font-family: Georgia, serif !important;;
}

p {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    font-size: 24px;
}

#title h1 {
    font-size: 60px;
    text-align: center;
}

#intro p {
    font-size: 24px;
    width: 90%;
    display: block;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    

#prayer blockquote {
    font-size: 20px;
    width: 90%;
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}